.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 253px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.track-info {
  animation: track-info-spin infinite 20s linear;
  height: 100px;
}

@keyframes track-info-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.my-input-style {
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
}

.card-img-size {
  max-height: 250px;
  max-width: 100%;
}