@import url('https://fonts.googleapis.com/css?family=Montserrat:500i|Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
}

.navigation {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.navigation li {
  display: list-item;
}

.navigation li a {
  color: rgba(255,255,255,0.5);
}

.navigation li a:hover {
  color: rgba(255,255,255,0.7);
}

.right {
  position: absolute;
  right: 0;
}